{namespace s=Pfister\Base\ViewHelpers}

<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div id="wrapper" data-background="{f:cObject(typoscriptObjectPath: 'lib.headerImage')}">

    <f:render partial="Header" arguments="{_all}" />

    <!-- TYPO3SEARCH_begin -->
    <f:render section="Content" arguments="{_all}" />
    <!-- TYPO3SEARCH_end -->

</div>

</html>