.teaser {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2rem;
  .teaser_image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .teaser_content {
    background: rgb(242,235,229);
    padding: 1rem;
    text-transform: uppercase;
  }
}

.tx-bensan-products {
  img {
    display: block;
    margin: 0 auto;
  }
  .product-bar {
    position: relative;
  }
  h3 {
    margin-bottom: 0;
  }
  a.detail-link {
    color: #e1a032;
    font-size: 0.75rem;
    font-weight: bold;
    &:hover {
      color: #0a0a0a;
    }
  }
  .row {
    margin-bottom: 2rem;
  }
}
@include breakpoint(large) {
  .tx-bensan-products {
    a.detail-link {
      position: absolute;
      bottom: 0;
      left: 25%;
      display: block;
      padding: 0.2rem 0.9375rem;
    }
  }
}