body {
    background-repeat: no-repeat;
}

/*********************************************
    Typography
**********************************************/

h1 {
    font-size: 20px;
    color: map-get($foundation-palette, primary);
    font-weight: bold;
}
h2 {
    font-size: 20px;
    color: map-get($foundation-palette, primary);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    padding: 0 0 3px 0;
    font-weight: bold;
}
@include breakpoint(large) {
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 14px;
    }
}


h3 {
    color: map-get($foundation-palette, primary);
    font-weight: bold;
}

ul, li,
p {
    color: $dark-gray;
    font-size: 1rem;
}
@include breakpoint(large) {
    ul, li,
    p {
        font-size: 0.75rem;
    }
}

strong,
b {
    /*color: map-get($foundation-palette, primary);*/
    color: $black;
    font-size: 0.75rem;
}
span {
    font-size: 0.75rem;
}

section a {
    font-size: 0.75rem;
}
/*********************************************
    Forms & form elements
**********************************************/


// Resetting some too general foundation error styling
// in _forms.scss.
span.error,
small.error { display:initial; }

// Form mandatory messages (em) & errors (strong)
form label em {
    font-style:normal;
}
form label strong {
    display:block;
    color:$alert-color;
}


/*********************************************
    Indexed search
**********************************************/
// Searchbox: Hide any content (result list,
// etc.) following the search form.
// .. but hide search form in main content area
// as it only needs to show the result list.
.searchbox ~ * { display:none; }
.element.list-element .tx-indexedsearch .tx-indexedsearch-searchbox { display:none; }
