<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<figure class="image bensan">
	<f:if condition="{file.link}">
		<f:then>
			<f:link.typolink parameter="{file.link}" title="{file.title}">
				<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
			</f:link.typolink>
		</f:then>
		<f:else>
			<f:if condition="{data.image_zoom}">
				<f:then>
					<a href="{f:uri.image(image: file, maxHeight: '1200', maxWidth: '1200')}"
					   title="{file.title}"
					   data-lightbox-caption="{file.description}"
					   class="{settings.lightbox.cssClass}"
					   data-lightbox="lb{data.uid}"
					   data-title="{file.title}">
						<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
					</a>
				</f:then>
				<f:else>
					<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	<f:if condition="{file.description}">
		<figcaption class="image-caption">
			{file.description}
		</figcaption>
	</f:if>
</figure>
</html>
