<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


    <f:layout name="Default" />

    <f:section name="Content">

        <div id="main" class="row">

            <f:render partial="Navigation" />

            <section class="large-8 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <f:cObject typoscriptObjectPath="lib.loadContent" data="0" />
                    </div>
                </div>

                <div class="row large-up-1 medium-up-2 large-up-3">
                    <f:cObject typoscriptObjectPath="lib.loadContent" data="20" />
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <f:cObject typoscriptObjectPath="lib.loadContent" data="5" />
                    </div>
                </div>
            </section>

        </div>

    </f:section>


</html>